* {
    margin: 0;
    padding: 0;
}
body {
    background-color: indianred;
}
.wrapper {
    width: 100%;
}
.first {
    margin: 40px 20px 0px 0px;
    background-color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
}
.button {
    margin: 20px auto;
    width: 50px;
    display: block;
    background-color: white;
    border:  black;
    color: black;
    padding: 0px 22px;
    text-align: center;
    text-decoration: none;
    font-family: 'Neucha', cursive;
    font-size: 24px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.27),0 0 40px rgba(0,0,0,.06) inset;
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.27),0 0 40px rgba(0,0,0,.06) inset;
    box-shadow: 0 1px 6px rgba(58, 49, 49, 0.27),0 0 40px rgba(0,0,0,.06) inset;
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    .wrapper {
        margin: 0px auto;
        width: 1000px;
    }
}
